
@{
    ViewData["Title"] = "AccessDenied";
}

<h1>AccessDenied</h1>
<a class="mb-3" asp-controller="Account" asp-action="SignOut">Login</a>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
