
@{
    ViewData["Title"] = "Index";
}

<div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Task" asp-action="Create">Create Task</a>
        </li>
    </ul>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
