@{
    ViewData["Title"] = "Log In";
}

    <div class="text-center">
        <h1 class="display-4">Login</h1>
    </div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
